{% extends "base.html" %}{% block content %} {% load static %}
<section class="content">
  <section class="post_form"> <div class="main-header">
    <img style="width: 13%;" src="/static/img/white-twitter.png"/>
    <h1 class="heading">Edit</h1>
  </div>
  
      <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
        {% csrf_token  %}
    <input type="text" name="name" placeholder="Name" value="{{post.name}}" required/>
    <input type="text" name="body"  placeholder="Tell us anything" value= "{{post.body}}"required> </input>
    <img class="post-border" src="{{ post.image.url }}"></br>
    <input type="file" name= "image">
    <a href="{% url 'index' %}">Cancel</a> 
    <input type="submit" value="Update"/>   

</form>
  </section>  
  <section class="posts">
      <ul>
          
      {% for post in posts %}
      <li>
        <img class ="menu_icon js-menu-icon" src="{% static 'img/more.png' %}"/>
        <div class ="menu">
          <a href="/delete/{{post.id}}/">Delete</a>
          <a href="/edit/{{post.id}}/">Edit</a>
        </div>
          <div class="logo">
      <img src="{% static 'img/user.jpg' %}"/>
      </div>
    
      <div class="name_body">
      <div> {{ post.name }} </div> 
        <div> {{ post.created_at }} </div> 
         <p> {{ post.body }}</p> 
        
        </div>
       </li>
      {% endfor %}
       </ul>
  </section> 
  
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="{% static 'js/posts.js' %}">
  </script>
</section>
{% endblock %}